packages
.project
*.iml
*.ipr
*.iws
.idea/
*.dart.js
*.js_
*.js.deps
*.js.map
pubspec.lock
frontend/turbo_wookie/pubspec.lock
frontend/turbo_wookie/.buildlog
frontend/turbo_wookie/packages
frontend/turbo_wookie/web/packages

# mpd stuff
backend/mpd/music
backend/mpd/mpd.conf
backend/mpd/database.db
backend/mpd/log
backend/mpd/state
backend/mpd/pid
backend/mpd/sticker.sql

#yaml config file
backend/config.yaml
