<polymer-element name="tw-player">
  
  <template>
    <link rel="stylesheet" href="../css/player.css">
    
    <audio autoplay id="stream"></audio>
    
    <input type="range" min="0" step="0.0001" id="progressSlider" value="0" />
    
    <button id="pausePlay" class="paused">
      <img id="restImg" src="../img/rest.svg">
      <img id="restImgHover" src="../img/rest-hover.svg">
      <img id="noteImg" src="../img/note.svg">
      <img id="noteImgHover" src="../img/note-hover.svg">
    </button>
    <img src="../img/volume.svg" />
    <input type="range" min="0" max="1" step="0.0001" value="0.1" id="volumeSlider" />
  </template>
  
  <script type="application/dart" src="../dart/player.dart"></script>
</polymer-element>
