<polymer-element name="tw-playlist">
  
  <template>
    <link rel="stylesheet" href="../css/playlist.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    
    <div id="currentSong">
      <img id="albumArt" src={{albumArtURL}} />
      <div id="songInfoBox">
        <div id="currTitle" title="{{currentSong.title}}">{{currentSong.title}}</div>
        <div id="currArtist" title="{{currentSong.artist}}" on-click="{{onArtistClick}}">{{currentSong.artist}}</div>
        <div id="currAlbum" title="{{currentSong.album}}" on-click="{{onAlbumClick}}">{{currentSong.album}}</div>
      </div>
    </div>
    <ul id="list">
    <template repeat="{{song in songs}}">
      <li>
        <div class="title">{{song.title}}</div>
        <div class="artist" on-click="{{onArtistClick}}">{{song.artist}}</div>
      </li>
    </template>
    </ul>
  </template>
  
  <script type="application/dart" src="../dart/playlist.dart"></script>
</polymer-element>
