<polymer-element name="tw-turbo-wookie">
  
  <template>
    <link rel="stylesheet" href="../css/turbo-wookie.css">
    <link rel="import" href="controls.html">
    <link rel="import" href="playlist.html">
    
    <header>
    <input type="text" id="search" placeholder="Search music">
      <div id="logo">
        <h1 id="logoTitle">Turbo Wookie</h1>
        <img id="logoImg" src="components/img/wookiejetpack.png"/>
      </div>
    </header>
    <tw-playlist id="playlist"></tw-playlist>
    <tw-controls id="controls"></tw-controls>
  </template>
  
  <script type="application/dart" src="../dart/turbo-wookie.dart"></script>  
</polymer-element>
