
#songInfoBox{
  background-color: rgba(0, 0, 0, .8);
  margin-top: -89px;
  position: relative;
}
#albumArt {
  width: 100%;
  position: relative;
}

#songInfo {
  color: white;
  padding: 10px 25px;
}

#songInfo #album, #songInfo #artist {
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 178px;
  cursor: pointer;
}

#title {
  font-size: 1.2em;
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 178px;
  font-weight: bold;
  padding-bottom: 2px;
}

img {
  max-width: 100%;
}