
img {
  width: 25px;
}

.button {
  cursor: pointer;
}

.button:hover .addImg,
.button .addHoverImg {
  display: none;
}

.button .addImg,
.button:hover .addHoverImg {
  display: block;
}

table {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-collapse: collapse;
  margin: 20px;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05)
}      

th {
  text-align: left;
  padding: 0 10px 5px;
  font-size: 1.2em;
  color: white;
}

.clickable {
  cursor: pointer;
}

tr {
  border-bottom: 1px solid #555;
}

thead tr {
  border-bottom: none;
}

td {
  padding: 2px 10px;
}

td:nth-child(-n+3) {
  width: 32%;
}