#login {
  position: absolute;
  top: 60px;
  right: 0px;
  padding: 10px 20px;
  background: #111;
  border: 2px solid #555;
}

input[type="submit"] {
  float: right;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: #ccc;
  height: 30px;
  margin-top: 5px;
}

#loginFailed {
  color: red;
  float: left;
  padding-top: 10px;
}