/* Scrollbar Stuffs */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(51, 181, 229, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(51, 181, 229, 0.6); 
}