html {
  height: 100%;
}

body {
  background-color: #202020;
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #1a1a1a;
  line-height: 50px;
}

h1 {
  text-align: center;
  color: #33B5E5;
  margin: 0;
}

#playlist {
  display: inline-block;
  width: 268px;
  height: calc(100% - 108px);
  overflow-y: auto;
  position: relative;
  border-right: 1px solid #ccc;
}

#mediaBar {
  background: #1a1a1a;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

#currentSong {
}