@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

html {
  height: 100%;
}

body {
  background-color: #2a2a2a;
  color: #ccc;
  font-family: Roboto, "Open Sans", "Droid Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  height: 100%;
}